/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* src/styles.css */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
  
app-root {
    background-color: rgb(0, 23, 26);
    color: rgb(167, 211, 235); /* Optional: To ensure text is readable */
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}